<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <%= title %>
            </h1>
        </div>
        <div class="col-md-8">
            <% if(login){ %>
            <h2><%= login.name %></h2>
            <% } %>
        </div>
    </div>